<!DOCTYPE html>
<html>
	<head>
		<title>Raccoon: The Sneaky Little Framework</title>
		<link rel="icon" type="image/gif" href="/assets/images/favicon.gif" />
		<link rel="stylesheet" href="/assets/styles/global.css" type="text/css" media="screen" />
	</head>
	<body>
		
		<div id="wrapper">
			<div id="header">
				<div id="nav">
					version $(Raccoon.version) / 
					<a href="http://raccoon.keetology.com/" title="Raccoon Site">official site</a>
				</div>
			</div>
			<div id="main">
				$(data.content)
			</div>
			<div id="footer">
				<strong>Raccoon &copy; 2009, Mark Obcena.</strong> A joint experiment of Keetology and Pumppumedia.
			</div>
		</div>
		
	</body>
</html>